{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {% block page_title %}
        {% endblock %}
    </title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
</head>

<body>
<div class="container">
    <div class="top">
        <div class="header">
            <a class="logo" href="/">Atlen Store</a>
            <ul class="menu">
                <li><a href="/">Главная</a></li>
                <li><a href="/catalog/">Каталог</a>
                    <ul class="submenu" id="categories"></ul>
                </li>
                <li><a href="/contacts/">Контакты</a></li>
                {% if user.is_authenticated %}
                    <li><a href="/edit/">Профиль</a></li>
                    <li><a href="/logout/">Выход</a></li>
                {% else %}
                    <li><a href="/login/">Вход</a></li>
                    <li><a href="/register/">Регистрация</a></li>
                {% endif %}
                {% if user.is_superuser %}
                    <li><a href="/admin/">Admin</a></li>
                {% endif %}
            </ul>
            <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>
            <script>
                axios.get('http://127.0.0.1:8000/api/categories/').then(renderData)
            </script>
        </div>
        <div class="content">
            {% block page_content %}
            {% endblock %}
        </div>
    </div>
    <div class="footer">
        <footer>&copy; Все права защищены.</footer>
    </div>
</div>
</body>

</html>
