<head>
    <meta charset="UTF-8">
    <title>
        {% block page_title %}
        {% endblock %}
    </title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="test.css">
</head>

<div class="catalog">
    <div class="card">
        <img class="product__image" src="http://127.0.0.1:8000/media/default.jpg" alt="Denim Jeans">
        <h1>Tailored Jeans</h1>
        <p class="price">$19.99</p>
        <p>Some text about the jeans..</p>
        <p>
            <button>Add to Cart</button>
        </p>
    </div>
</div>
