
.catalog{
display: flex
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 600px;
  height: 250px;
  margin: auto;
  text-align: left;
  font-family: arial;
  border: 1px solid transparent;
}



.catalog .card .product__image {
  width: 220px;
  float: left;
  }

.short_desc {
text-overflow: ellipsis


.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}


.card:hover{
  border: 1px solid grey;
}
