{% extends 'server/master.html' %}

<title>
    {% block page_title %}
        {{ title|title }}
    {% endblock %}
</title>


<div class="content">
    {% block page_content %}
        <form action="{% url 'accounts:edit' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>Username: {{ user|title }}</p>
            {{ edit_form.as_p }}
            <input class="form-control" type="submit" , value="Submit">
        </form>
    {% endblock %}
</div>
