{% extends 'server/master.html' %}

<title>
    {% block page_title %}
        {{ title|title }}
    {% endblock %}
</title>


<div class="content">
    {% block page_content %}
        <h3 class="prod_name">{{ user }}</h3>
        <form action="{% url 'accounts:login' %}" method="post">
            {% csrf_token %}
            {{ login_form.as_p }}
            <input class="form-control" type="submit" , value="Submit">
        </form>
    {% endblock %}
</div>