body {
    font-family: 'Montserrat', sans-serif;
}

html,
body {
    height: 100%;
}

.container {
    background-color: #f8f8f8;
    color: #484343;
    max-width: 1200px;
    margin: 0 auto;
    text-decoration: none;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.top {
    flex-grow: 1;
}

.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: fantasy;
    color: #484343;
    background-color: #eaeaea;
}

.logo {
    font-size: 28px;
    margin-left: 40px;
}

.menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 40px;
}

ul {
    padding: 0;
}

.menu li {
    /*margin-left: 20px;*/
    /*width: 100%;*/
    font-size: 20px;
    white-space: nowrap;
    list-style-type: none;
    background-color: #eaeaea;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.menu ul {
    display: none;
}

.menu ul li {
    background-color: lightgrey;
    width: 180px;
    font-size: 16px;
}

.submenu {
    padding-left: 8px;
    padding-right: 8px;
}

.submenu .submenu {
    left: 100%;
    top: -1px;
    transition: .3s linear;
}

.menu li:hover ul {
    display: block;
}

.login {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0 5px;
    padding: 0;
    margin-right: 0px;
}

.login li {
    margin: 5px;
    width: 150px;
    font-size: 14px;
}

.content {
    padding: 20px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: #484343;
    text-decoration: none;
}

a:hover {
    color: #b6b6b6;
    text-decoration: underline;
}

.headline {
    overflow: hidden;
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.mini_desc {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
    text-align: left;
}

.desc {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.prod_name {
    color: black;
    font-size: 24px;
    font-weight: bolder;
    line-height: 24px;
    text-align: left;
    background-color: #eaeaea;
}

.prod_img {
    width: 200px;
    margin-right: 20px;
    float: left;
}

.buy_button {
    width: 200px;
    margin-right: 20px;
    float: left;
    height: 45px;
}

.default_form {
    color: black;
    font-size: 14px;
    font-weight: 400;

}

.default_form input,
textarea {
    background-color: #eaeaea;
    text-transform: capitalize;
}

.default_form input, textarea {
    width: 250px;
    margin-bottom: 2px;
    border-radius: 15px;
    border: 1px solid gray;
    outline: inherit;
    padding-left: 8px;
    padding-right: 8px;
}

.default_form input:focus, textarea:focus {
    color: darkslategray;
    background-color: white;

}

.default_form textarea {
    height: 100px;
    width: 400px;
    padding: 8px;
    border-radius: 8px;
    outline: inherit;
}

.catalog {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.catalog a {
    display: block

}

.product_card {
  display: flex;
  border: 1px solid transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 480px;
  height: 250px;
  margin-bottom: 20px;
}

.product_card:hover {
    border-color: grey;
}

.product__name {
    font-size: 20px;
}

.short_desc {
  width: 100%;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 20px;
}

.pagination {
    text-align: center;
    list-style-type: none;
}

.prod_block {
    margin-right: 20px;
    float: left;
}

.clear {
    clear: both;
}

.button,
.buy_button {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
}


.button:hover,
.buy_button:hover {
    color: gray;
}

.button:active,
.buy_button:active {
    color: orange;
}

.footer {
    height: 40px;
    background-color: #eaeaea;
    text-align: right;
    padding-top: 25px;
    padding-right: 30px;

}
