{% load utility %}

{#<a href="{% url 'detail' pk=id %}"><img src="/static/img/shur.jpg" alt="{{title|default:'Product not found'|title}}" class="prod_img"><br>{{title|default:'Product not found'|title}}</a>#}

{#<a href="{% url 'catalog:category' pk=id %}"><img src={{ category.image.value.url }} alt="{{ category.name }}" class="prod_img"><br>{{ category.name }}</a>#}
<a href="{% url 'catalog:category' pk=id %}">{{ category.name }}</a>