{% load utility %}

<div class="product">
    <!--<a href="{% url 'catalog:detail' pk=id %}"><img src={{ product.image.value.url }} alt="{{ product.name }}"-->
    <!--class="prod_img"><br>{{ product.name }}</a>-->
    <div class="product_card">
        <div>
            <a href="{% url 'catalog:detail' pk=id %}"><img src={{ product.image.value.url }} alt="{{ product.name }}"
                                                            class="prod_img"></a>
            <p>
                <button class="buy_button">Добавить в корзину</button>
            </p>
        </div>
        <div class="short_desc">
            <a href="{% url 'catalog:detail' pk=id %}"><p class="product__name">{{ product.name }}</p></a>
            <p>{{ product.short_desc }}</p>
            <p class="price">{{ product.price }}&#8381;</p>
        </div>
    </div>
    {% if user.is_superuser %}
    <a href="{% url 'catalog:update' pk=id %}">Редактировать</a>
    <a href="{% url 'catalog:delete' pk=id %}">Удалить</a>
    {% endif %}
</div>