{% extends 'server/master.html' %}

<title>
    {% block page_title %}
        Контакты
    {% endblock %}
</title>

<div class="content">
    {% block page_content %}
    <h3 class="prod_name">Напишите нам</h3>
    <form action="submit" class="default_form">
        <p>Страница регистрации.</p>
        <input type="text" placeholder="Ваше Имя"><br>
        <input type="email" placeholder="E-mail"><br>
        <input type="text" placeholder="Тема"><br>
        <textarea name="Сообщение" placeholder="Сообщение"></textarea><br>
        <button type="submit" class="button">Отправить</button>
        <button type="reset" class="button">Сбросить</button>
    </form>
    <h3>Адрес:</h3>
    <lu>
        <li><b>Телефон:</b> +74991234578</li>
        <li><b>Адрес:</b> 2-й квартал Капотня, 4</li>
        <li><b>E-mail:</b> info@atlen.ru</li><br>
    </lu>
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ab348a448a97ee7778bd06071bd02cfb105ff26c9061e043edd132458631f9817&amp;width=100%&amp;height=374&amp;lang=ru_RU&amp;scroll=true"></script>
    {% endblock %}
</div>

