{% extends 'server/master.html' %}

<title>
    {% block page_title %}
        Атлен
    {% endblock %}
</title>



<div class="content">
    {% block page_content %}
       <h3 class="prod_name">Атлен</h3>
       <p>Вас приветсвует строительный магазин Атлен!</p>
    {% endblock %}
</div>