{% extends 'server/master.html' %}

<title>
    {% block page_title %}
        {{ title|title }}
    {% endblock %}
</title>

<div class="content">
    {% block page_content %}
        <h3 class="prod_name">Категории Товаров</h3>
        <div class="catalog">
            {% for item in results %}
                {% include 'catalog/components/category.html' with category=item id=item.pk %}
            {% endfor %}
        </div>
    {% endblock %}
</div>