{% extends 'server/master.html' %}

<title>
    {% block page_title %}
        {{ title|title }}
    {% endblock %}
</title>

<div class="content">
    {% block page_content %}
        <h3 class="prod_name">Каталог</h3>
        <div class="catalog">
            {% for item in results %}
                {% include 'catalog/components/product.html' with product=item id=item.pk %}
            {% endfor %}
        </div>
        <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="pagination__control_previous">
                <a
                        href="?page={{ page_obj.previous_page_number }}"
                        class="pagination__link"
                >
                    Previous
                </a>
            </li>
        {% endif %}
        {% if page_obj.has_next %}
            <li class="pagination__control_next">
                <a
                        href="?page={{ page_obj.next_page_number }}"
                        class="pagination__link"
                >
                    Next
                </a>
            </li>
        {% endif %}
    {% endblock %}
</div>