{% extends 'server/master.html' %}

<title>
    {% block page_title %}
        {{ title|title }}
    {% endblock %}
</title>


<div class="content">
    {% block page_content %}
        <form class="default_form" action="{% url 'catalog:create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button">Отправить</button>
            <button type="reset" class="button">Сбросить</button>
        </form>
    {% endblock %}
</div>
