{% extends 'server/master.html' %}

<title>
    {% block page_title %}
        {{ title|title }}
    {% endblock %}
</title>


<div class="content">
    {% block page_content %}
        <form class="default_form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <button type="submit" class="button">Удалить</button>
        </form>
    {% endblock %}
</div>
