{% extends 'server/master.html' %}

{% load utility %}

<title>
    {% block page_title %}
        {{ instance.name }}
    {% endblock %}
</title>

<div class="content">
    {% block page_content %}
        <p class="prod_name">{{ instance.name }}
        <div class="prod_block"><a href={{ instance.image.value.url }} target="_blank"><img class="prod_img" src={{ instance.image.value.url }} alt="{{ instance.name }}"></a></div>
        <h3 class="headline">Описание товара</h3>
        <p class="mini_desc">{{ instance.short_desc }}</p>
        <button type="submit" class="buy_button">Купить</button>
        <p><b>Цена: </b>{{ instance.price }}&#8381;</p>
        <p><b>Наличие на складе: </b>{{ instance.quantity }}</p>
        <h3 class="headline clear">Характеристики товара</h3>
        <p>{{ instance.spec }}</p>
        <h3 class="headline">Подробное описание товара</h3>
        <p class="desc">{{ instance.description }}</p>
    {% endblock %}
</div>